.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.select2-search--dropdown {
    display: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $accent-color;
    color: #fff;
}

.select2-container--default .select2-results>.select2-results__options {
    width: 100%;
    overflow-y: hidden;
}