.star {
    width: 18px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    path {
        fill: #ffc35b;
    }
}

.star.active path {
    fill: aqua;
}